$sm-columns: 4;
$sm-margin: 5px;
$gutter: 20px;

$md-columns: 12;
$md-margin: 30px;
$md-max-container: 960px + $md-margin * 2;
/*
max-width에 margin 값을 더해주는 이유는, 우리가 아래에서, container 의 마진값(시안상)으로 패딩을 주고 있기 때문에
실제 컨테이너의 컨텐츠 크기가 900px이 되어버린다. 하여 $md-margin 즉 실제 패딩값을 더해주어 컨테이너의 크기를 늘리나
실제 컨텐츠 영역의 크기를 960px로 만들어 주는것.
*/

$lg-columns: 12;
$lg-unit: 75px;
$lg-max-container: ($lg-unit + $gutter) * $lg-columns;

$grid-margin: 15px;
